.headerContainer{
    font-size: 2rem;
    color: #00474B;
    text-align: center;
    margin-top: 2%;
    width: 100%;
}
.headerContainer p{
    color: #00474B;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0;
}